*{  font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

.navbar
{   background-color: #1A2A6C;
    color: #F5F5F5;
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.my_name{
    font-size: 25px;
    margin-right: 7px;
    margin-left: 7px;
    font-weight: 800;

}
.my_profession{
    margin-top: 1px;
    font-size: 17px;
    font-weight: 200;

}
.logo{
  margin-left: 22px;
  margin-bottom: 50px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  }
.panel{
  display: flex;
  width: 30%;
  margin-right: 30px;
  margin-top: 40px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.panel a{
    color: #F5F5F5;
    text-decoration: none;
    transition-duration: 0.2s;
}

.panel a:hover{
    color: #C9A03D;
    text-decoration: none;
}

body{
    background-color:#1A2A6C;
}

.half_container{
    position: absolute;
      height: 888px;
    width: 39%;
    background-color: #F5F5F5;
    z-index: -1;
}

main{
    height: auto;
} 

.info_container{
    box-shadow: #1A2A6C 0px 8px 24px;
    width: 60%;
    /* height: 572px; */
   
    display: flex;
    left: 25%;
    top: 35%;
    position: absolute;
    margin-left: auto;
    
    background-color: orange;
}

.info_image{
    height: 205px;
    width: 205px;
}

.info_image img{
    height: 100%;
    border-radius: 50%;
}

.info_name{
     color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-size: 27px;
    font-weight: 700;
}

.info_hr{
    width: 50px;
    height: 5px;
    color: black;
}

.info_post{
    width: 100%;
  letter-spacing: 1px;
    color: #F5F5F5;
    font-size: 17px;
    font-weight: 200;
}

.info_heading p{
    font-size: 100px;
    font-weight: 900;
}


.info_subheading p{
    font-size: 25px;

}

.info_button1, .info_button2{
    border: 1px solid #1A2A6C;
    
    height: 35px;
    width: 130px;
    color: #F5F5F5;
    background-color:#1A2A6C;
   
    padding: 5px 15px;
    border-radius: 30px;
    transition-duration: 0.2s;
}

.info_button1:hover, .info_button2:hover{
 
    color: #1A2A6C;
    background-color:#F5F5F5;
   
   

}

.info_para{
    line-height: 1.5em;
    font-size: 17px;
}

.info_1{
    height: 500px;
    padding: 60px 80px 60px 80px;
    padding-top: 12px;
    background-color: #1A2A6C;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.info_2{
    background-color: #F5F5F5;
    color: #1A2A6C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
    padding-bottom: 93px;
}


footer{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    position: absolute;
    top: 1000px;
    height: 113px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #F5F5F5;
   
}

.footer_text1{
    margin-top: 43px;
   margin-left:10px ;
}
.footer_text2{
      margin-top: 35px;
     margin-right:10px ;
    width: 40%;
      display: flex;
    justify-content: space-around;
}

.f1, .f2{
    display: flex;
    flex-direction: column;
    
}

.f1_heading, .f2_heading{
    font-weight: 600;
}